Assets filter=lfs diff=lfs merge=lfs -text
Assets/Jump.anim filter=lfs diff=lfs merge=lfs -text
Assets/Jump.anim.meta filter=lfs diff=lfs merge=lfs -text
Assets/Lifty's[[:space:]]Pixel[[:space:]]Art[[:space:]]Pack.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes filter=lfs diff=lfs merge=lfs -text
Assets/Stay.anim filter=lfs diff=lfs merge=lfs -text
Assets/Cat-Sheet.png filter=lfs diff=lfs merge=lfs -text
Assets/Cat-Sheet_48[[:space:]](1).controller filter=lfs diff=lfs merge=lfs -text
Assets/Cat-Sheet_48.controller.meta filter=lfs diff=lfs merge=lfs -text
Assets/Lifty's[[:space:]]Pixel[[:space:]]Art[[:space:]]Pack filter=lfs diff=lfs merge=lfs -text
Assets/Square.prefab filter=lfs diff=lfs merge=lfs -text
Assets/Платформа.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Cat[[:space:]]50[[:space:]]Animations filter=lfs diff=lfs merge=lfs -text
Assets/Cat-Sheet_0[[:space:]](1).prefab filter=lfs diff=lfs merge=lfs -text
Assets/Cat-Sheet_48[[:space:]](1).controller.meta filter=lfs diff=lfs merge=lfs -text
Assets/MovePerson.cs.meta filter=lfs diff=lfs merge=lfs -text
Assets/New[[:space:]]Animator[[:space:]]Controller.controller.meta filter=lfs diff=lfs merge=lfs -text
Assets/Platform[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
Assets/Platform[[:space:]]1.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Platform[[:space:]]2.png filter=lfs diff=lfs merge=lfs -text
Assets/ControlAnimation.cs filter=lfs diff=lfs merge=lfs -text
Assets/Jump.cs.meta filter=lfs diff=lfs merge=lfs -text
Assets/MovePerson.cs filter=lfs diff=lfs merge=lfs -text
Assets/Stay.anim.meta filter=lfs diff=lfs merge=lfs -text
Assets/Kitten.jpg filter=lfs diff=lfs merge=lfs -text
Assets/Kitten.jpg.meta filter=lfs diff=lfs merge=lfs -text
Assets/Platform.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Платформа.png filter=lfs diff=lfs merge=lfs -text
Assets/Cat-Sheet.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/ControlAnimation.cs.meta filter=lfs diff=lfs merge=lfs -text
Assets/Jump.cs filter=lfs diff=lfs merge=lfs -text
Assets/Platform[[:space:]]2.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes.meta filter=lfs diff=lfs merge=lfs -text
Assets/Cat-Sheet_0[[:space:]](1).prefab.meta filter=lfs diff=lfs merge=lfs -text
Assets/New[[:space:]]Animation.anim filter=lfs diff=lfs merge=lfs -text
Assets/New[[:space:]]Animation.anim.meta filter=lfs diff=lfs merge=lfs -text
Assets/Cat[[:space:]]50[[:space:]]Animations.meta filter=lfs diff=lfs merge=lfs -text
Assets/New[[:space:]]Animator[[:space:]]Controller.controller filter=lfs diff=lfs merge=lfs -text
Assets/Cat-Sheet_48.controller filter=lfs diff=lfs merge=lfs -text
Assets/Platform.png filter=lfs diff=lfs merge=lfs -text
Assets/Square.prefab.meta filter=lfs diff=lfs merge=lfs -text
